#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.rive-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #313131;
}

.rive-container canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
